.firebase/
build/
coverage/
node_modules/*
!node_modules/.hooks/
test/integration/screenshots-current/
src/**/*.js
test/**/*.js
!src/index.js
dist/
.DS_Store
.tmp
app.yaml
*.sublime-workspace
firebase-debug.log
firestore-debug.log
ui-debug.log
