.firebase/
## build
build/
/out-tsc/

node_modules/*
!node_modules/.hooks/
reports/
test/integration/screenshots-current/
dist/
.DS_Store
.tmp
.lighthouseci/
app.yaml
*.sublime-workspace
src/env-config.json

## logs
firebase-debug.log
firestore-debug.log
ui-debug.log
