.firebase/
build/
node_modules/*
!node_modules/.hooks/
reports/
test/integration/screenshots-current/
src/**/*.js
test/**/*.js
!test/unit/components/__snapshots__/*.js
dist/
.DS_Store
.tmp
.lighthouseci/
app.yaml
*.sublime-workspace
src/env-config.json
firebase-debug.log
firestore-debug.log
ui-debug.log
