service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null && request.auth.uid != null;
    }
    function owner(res) {
      return request.auth != null && request.auth.uid == res.data.owner_uid;
    }

    // True if the user is the owner or the requested data is 'public'
    function ownerOrPublic(res) {
      return owner(res) || res.data.public == true;
    }

    match /teams/{team} {
      match /roster/{player} {
        allow read: if ownerOrPublic(get(/databases/$(database)/documents/teams/$(team)));
        allow update: if owner(get(/databases/$(database)/documents/teams/$(team)));
      }
    }

    match /games/{game} {
      match /roster/{player} {
        allow read: if ownerOrPublic(get(/databases/$(database)/documents/games/$(game)));
        allow update: if owner(get(/databases/$(database)/documents/games/$(game)));
      }
    }

    match /{document=**} {
      allow read: if ownerOrPublic(resource);
      allow create: if signedIn();
      allow update: if owner(resource);
      allow delete: if false;
    }
  }
}
